* {
    font-family: 'Montserrat', sans-serif;
    color: white;
    margin: 0;
}
body {
    margin: 0;
    background-color: #050504;
}
h1 {
    font-weight: 700;
    font-size: 64px;
    text-align: center;
}
h2 {
    font-weight: 700;
    font-size: 36px;
    text-align: left;
}
h3 {
    font-weight: 600;
    font-size: 28px;
    text-align: left;
}
h4 {
    font-weight: 600;
    font-size: 24px;
    text-align: left;
}
p {
    font-weight: 600;
    font-size: 18px;
}
button {
    font-weight: 700;
    font-size: 40px;
}


/* Скроллбар */
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: #181818;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

section {
    height: 100vh;
    width: 100%;
}

footer {
    width: 100%;
}

#logo {
    width: 67px;
    height: 42px;
}

/* Секция main */
.main-section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

    background: linear-gradient(-45deg, #000000, rgba(255, 184, 0, 0.4), #000000, rgba(255, 184, 0, 0.3), #000000);
    background-size: 400% 400%;
    animation: gradient 15s ease-in-out infinite;
}
.main-section .rectangle-outside {
    border: 5px outset #FFB800;
    background-color: rgba(255, 184, 0, 0.85);
    padding: 0;
    margin: 0;
}
.main-section .rectangle-inside {
    border: 5px outset #FFB800;
    background-color: #2f2f2f;
    transform: translate(25px, 25px);
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px;
}
.main-section .rectangle-inside .header {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 20px;
}
.main-section .auth-field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
    gap: 10px;
}
.main-section .auth-field input[type=email], input[type=password] {
    border: 5px outset #FFB800;
    background-color: transparent;

    width: 100%;
    padding: 6px 10px;
    margin: 6px 0;
    box-sizing: border-box;
    color: #fff;
    font-size: 18px;
}

.main-section .auth-field input[type=submit] {
    border: 5px outset #FFB800;
    transition: background-color 0.3s;
    background-color: transparent;
    padding: 10px 20px;
    cursor: pointer;
    align-self: flex-end;
}

.main-section .auth-field input[type=submit]:hover {
    background-color: #FFB800;
    border: 5px outset #FFB800;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

